a {
    color: white;
    background-color: black;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    width: 500px;
    justify-content: center;
    margin-left: 400px;
    margin-top: 20px;
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    border-radius: 100px;
    opacity: 0.9;
    box-shadow: 5px 5px 5px 5px black;



}

body {
    background: linear-gradient(rgb(61, 57, 57), rgb(97, 34, 34));
}

h1 {
    color: red;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    justify-content: center;
    margin-left: 350px;
    position: static;
    font-size: 100px;
    padding: 10px;
    margin: 100px 100px 100px 350px;
    height: 120px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px white;
}

img {
    width: 150px;
    height: 150px;
    margin-top: 100px;
    position: absolute;
    margin-right: 50px;
}

a:hover {
    box-shadow: 0 0 30px white;
    opacity: 80%;
    background-color: blue;
    border: 15px solid black;
}

h1:hover {
    box-shadow: 0 0 30px white;
    opacity: 100%;
    border: 15px solid black;
}

img:hover {
    box-shadow: 0 0 20px white;
    opacity: 80%;
}